#metodosDePago {
    position: relative;
    top: 8px;
    width: 128px;
    height: 60px;
}

#divNumeroTarjeta {
    position: relative;
    top: -52px;
    left: 140px;
    width: 180px;
    height: 70px;
}

input.logoTarjetas {
    bottom: 6px;
    position: relative;
}


/*Pie de pagina	*/

p.pie {
    text-align: center;
}

a:link {
    color: white;
}